<%# render partial: 'social' %>

<div class="overlay">
</div>

<div class="cloud-container">
  <%= render partial: 'clouds' %>
</div>

<div class="container main-container">
  <div class="row">
    <%= render partial: 'model' %>
  </div>
  <div class="row">
    <%= render partial: 'video' %>
    <%= render partial: 'remote' %> 
  </div>
</div>

<div class="color-overlay">
</div>