<div class="tier1">
  <span class="cloud" id="cld1-1"></span>
  <span class="cloud" id="cld2-1"></span>
  <span class="cloud" id="cld3-1"></span>      
</div>
<div class="tier2">
  <span class="cloud" id="cld1-2"></span>
  <span class="cloud" id="cld2-2"></span>
  <span class="cloud" id="cld3-2"></span>      
</div>
