<div id="social-box">
  <ul class="list-unstyled">
    <li class="social" id="fb"><%= fa_icon "facebook", class: 'fa-2x' %></li>
    <li class="social" id="tw"><%= fa_icon "twitter", class: 'fa-2x' %></li>
    <li class="social" id="gp"><%= fa_icon "google-plus", class: 'fa-2x' %></li>
  </ul>
</div>