<div id="social-box">
  <ul class="list-unstyled">
    <li class="social" id="fb"><%= fa_icon "facebook" %></li>
    <li class="social" id="tw"><%= fa_icon "twitter" %></li>
    <li class="social" id="gp"><%= fa_icon "google-plus" %></li>
  </ul>
</div>