<ul class="list-unstyled">
  <li class="svchild">
    <div class="video-container">
      <%= video_tag "",class: 'sub img-responsive center-block', id: '1', preload: true, loop: true %>
    </div>
  </li>
  <li class="svchild">      
    <div class="video-container">
      <%= video_tag "",class: 'sub img-responsive center-block', id: '2', preload: true, loop: true %>
    </div>
  </li>
  <li class="svchild">      
    <div class="video-container">
      <%= video_tag "",class: 'sub img-responsive center-block', id: '3', preload: true, loop: true %>
    </div>
  </li>
  <li class="svchild">
    <div class="video-container">
      <%= video_tag "",class: 'sub img-responsive center-block', id: '4', preload: true, loop: true %>
    </div>
  </li>
</ul>
