<div id="volume">
  <span class="glyphicon glyphicon-volume-up js-volume-toggle hide" data-value="1"></span>
  <span class="glyphicon glyphicon-volume-off js-volume-toggle " data-value="0"></span>
</div>
<div class="videoWrappper" id="main-vid">
  <div class="video-container">
    <%= video_tag "", class: 'img-responsive center-block', id: 'main', preload: true %>
  </div>
</div>